main { @include outer-container; }

.centered-navigation {
  background-color: #CDE0F5;
  border-bottom: 1px solid #B1D1F4;
}

li.nav-link.logo {
  font-size: 1.4em;
}

img.logo {
  max-height: 2.5em;
  opacity: 0.8;
}

img#cart {
  height: 1.5em;
  margin: 0.3em 0 -0.35em;
  opacity: 0.5;
}

.title {
	font-size: 2em;
  margin: 0.5em 0 0;
}

.flash {  margin: 0.5em 0; }