#product {
  aside { @include span-columns(4); margin-top: 15px; }
  article { @include span-columns(8); margin-top: 15px; }
  h1 { font-size: 3em; }
  h2 { font-size: 2em; margin: -35px 0 5px; }

  header {
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: rgb(202, 202, 202) 1px 1px 3px 1px;
    background: #DAE4F0;
  }

  #addToBasket {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 3px;
    height: 3.5em;
    box-shadow: 1px 1px 3px 1px #CACACA;
  }

  input, button { @include span-columns(4 of 8) }
  .row { @include row; }
  .yotpo { padding-bottom: 5em; }
}