main { @include outer-container; }

li.nav-link.logo {
  font-size: 1.4em;
}

img.logo {
  max-height: 2.5em;
  opacity: 0.8;
}

img#cart {
  height: 1.5em;
  margin: 0.3em 0 -0.35em;
  opacity: 0.5;
}

.title {
  font-size: 3em;
  margin: 5px 0 0;
}

.flash {  margin: 0.5em 0; }

.hide { display: none; }
.show { display: block !important; }
