---
layout: default
---
<main id='product'>
	<aside>
    <img src='{{ site.image_prefix }}{{ page.image }}' alt='{{ page.name }}' />
		<table>
			<tr> <th> Type      </th> <td> {{ page.type }}      </td> </tr>
			<tr> <th> Condition </th> <td> {{ page.condition }} </td> </tr>
			<tr> <th> Weight    </th> <td> {{ page.weight }}kg </td> </tr>
		</table>
	</aside>
	<article>
		<header>
			<h1>{{ page.name }}</h1>
			<h2>£{{ page.price }}</h2>
		</header>
		<div id='addToBasket'></div>
		<section>
			<p>{{ content }}</p>
      <img src='{{ site.image_prefix }}{{ page.big_image }}' alt='{{ page.name }}' />
		</section>
	</article>
</main>

<script>
  renderComponent('addToBasket', AddToBasket, { name: "{{ page.name }}" });
  JSE.Stores.Basket.listen(function() {	window.location.href = '/basket'; });
</script>